In [1]:
import pandas as pd

In [4]:
nba_games = pd.read_csv('../Datasets/NBA_API_Games.csv')

nba_games.head(5)

,Unnamed: 0,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,0,22023,1610612751,BKN,Brooklyn Nets,22300417,2023-12-27,BKN vs. MIL,NaN,121,...,0.923,6,14,20,14,5,1,3,7,-7.0
1,1,22023,1612709928,CCG,Capital City Go-Go,2022300004,2023-12-27,CCG @ DEL,NaN,190,...,0.900,8,25,33,20,9,1,9,16,-17.4
2,2,22023,1612709910,IMA,Indiana Mad Ants,2022300003,2023-12-27,IMA vs. MHU,W,240,...,0.850,14,31,45,35,6,4,9,25,5.6
3,3,22023,1612709915,MNE,Maine Celtics,2022300001,2023-12-27,MNE @ OKL,W,241,...,0.909,16,39,55,27,10,6,12,19,3.4
4,4,22023,1612709923,WCB,Windy City Bulls,2022300006,2023-12-27,WCB @ MCC,NaN,180,...,0.800,4,26,30,14,9,2,8,16,-13.4

In [5]:
nba_games.columns

Index(['Unnamed: 0', 'SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME',
       'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [8]:
nba_team_abbreviations = ['CHI','BRK', 'MIA', 'MIL', 'PHI', 'CLE', 'CHO', 'TOR', 'WAS', 'BOS', 'NYK', 'ATL', 'IND', 'DET', 'ORL',
                        'PHO', 'GSW', 'UTA', 'MEM', 'DAL', 'DEN', 'LAL', 'LAC', 'MIN', 'POR', 'SAS', 'SAC', 'NOP', 'OKC', 'HOU']


nba_games = nba_games.loc[nba_games['TEAM_ABBREVIATION'].isin(nba_team_abbreviations)]

nba_games.shape

(13714, 29)

In [9]:
min(nba_games['GAME_DATE'])

'2018-12-29'

In [10]:
max(nba_games['GAME_DATE'])

'2023-12-27'

In [ ]:
#We want to train and validate  for 2019-2020 season all the way to 2022-2023 season. Then use 2023-2024 as final test.